# AI related ignores
**/.ai/*
X-CUBE-AI/App/network_generate_report.txt

*.pbw
*.chm

# ST Power Monitor
*.stpm

# Keil MDK-ARM related
# Check http://www.keil.com/appnotes/files/apnt_279.pdf
MDK-ARM/*
!MDK-ARM/*.uvprojx
!MDK-ARM/*.uvoptx
!MDK-ARM/*.uvmpw
!MDK-ARM/RTE/*
!MDK-ARM/*.sct

# https://stackoverflow.com/a/39983457
# IAR Settings, ignore except the following
EWARM/*
!EWARM/*.ewd
!EWARM/*.ewp
!EWARM/*.eww
!EWARM/*.s
!EWARM/*.icf

# ignore for STM32CubeIDE, track .cproject file for Eclipse CDT plugin configuration
# Eclipse gitignores https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore
.metadata
.settings/
.loadpath
.recommenders

# Git ignore tips https://stackoverflow.com/a/16318111/6800618
STM32CubeIDE/*
!STM32CubeIDE/Application/
!STM32CubeIDE/.cproject
!STM32CubeIDE/.project
!STM32CubeIDE/*.ld

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

**/STM32CubeIDE/Debug/**

# J-Link log, session file
# http://www.keil.com/appnotes/files/apnt_279.pdf
# Files that do not need to be monitored
# INI files for debug adapters
JLinkLog.txt
JLinkSettings.ini
